:root
{
/*PALETA DE COLORES PRINCIPAL DE PARADISE*/
    --color1: rgb(3,95,108);
        /*Azul fuerte*/
    --color2: rgb(26,143,196);
        /*Turquesa oscuro*/
    --color3: rgb(124,233,254);
        /*Azul cielo*/
    --color4: rgb(151,251,197);
        /*Aquamarine claro*/
    --color5: rgb(81,237,198);
        /*Aquamarine intenso*/

/*COLORES AUXILIARES DE LA PAGINA*/
    --pcolor1: rgb(144,218,219);
        /*azul-claro-gris*/
    --pcolor2: rgb(0,156,140);
        /*verde-oscuro-azul*/
    --pcolor3: rgb(78,209,197);
        /*turquesa-gris*/
    --pcolor4: rgb(0,135,209);
        /*azul-rey-claro*/
    --pcolor5: rgb(170,255,255);
        /*azul cielo más claro*/
    --pcolor6: rgb(0,183,235);
        /*azul cielo más intenso*/
}

*
{
    padding:0;
    margin:0;
}

nav
{
    height:8%;
    padding:2%;
    background-color:white;
    margin-left: 0%;
    margin-right: 0%;

}

.logoNav
{
    float:left;
}

.barraBusqueda
{
    font-family: Georgia;
    float:right;
    width:40%;
    height:10%;
    clear:both;
}

.icon_use
{
    float:left;
    width:4%;
    height:50%;
    /*background-color:aqua;*/
    clear:both;
}

.busqueda
{
    width:70%;
    height:550%;
}

.boton
{
    width:28%;
    height:550%;
    background-color: var(--pcolor1);
}

nav a
{
    text-decoration:none;
    color:black;
}



main
{
    width:100%;
    height:80%;
    clear:both;
    background-color:white;
    text-align:center;
}

.pruebaMenu
{
    width:60%;
    float:right;
    font-family:Georgia;
    font-size:97%;
}

.pMTxt
{
    width:16%;
    float:right;
    text-align:left;
}

.pMT
{
    width:12%;
    float:left;
}

.pMTx
{
    width:20%;
    float:left;
}

.pMT3
{
    width:25%;
    float:left;
    text-align:right;
}

.pMT2
{
    width:21%;
    float:left;
    text-align:right;
}

.sign
{
    width:30%;
    height:100%;
    float:right;
    background-color: var(--pcolor1);
}

.signIn
{
    width:94%;
    height:95%;
    display:inline-block;
    text-align:center;
    background-color:white;
}

.signImg
{
    display:inline-block;
    text-align:center;
    width:96%;
    height:100%;
    background-color: var(--color1);
}

.formInput
{
    color:darkslategrey;
    width:90%;
    height:40px;
    background-color: rgb(144,218,219);
    border:none;
    border-radius: 4%;
	padding-left:4%;
	font-size:120%;
}

.uspss
{
    text-align:left;
    padding:6%;
    font-family:Georgia;
    font-size:large;
    line-height:1;
}

form a
{
    text-decoration-color: var(--pcolor4);
    color: var(--pcolor4);
    font-size:small;
}

button{
    cursor:pointer;
}

.botonR
{
    width:40%;
    height: 7%;
    display:inline-block;
    border:none;
    background-color: var(--pcolor2);
    color:white;
    font-size:medium;
    cursor:pointer;
    border-radius:15%;
}

.secbotonR
{
    width:40%;
    height: 7%;
    display:inline-block;
    border:none;
    background-color: var(--pcolor2);
    color:white;
    font-size:medium;
    cursor:pointer;
    border-radius:15%;
    font-family:Georgia;
    line-height:2;
    text-align:center;
}

p
{
    font-size:small;
    line-height:2.8;
    color:darkslategrey;
}