:root {
    --color1: #FFC973;
    /*AMARILLO CLARITO*/
    --color2: #FFB640;
    /*AMARILLO MENOS CLARITO*/
    --color3: #A66600;
    /*NARANJA OSCURO*/
    --color4: #BF8830;
    /*NARANJA OSCURO CLARO*/
    --color5: #FF9E00;
    /*NARANJA INTENSO*/
    --color6: #7D71D8;
    /*AZUL CLARITO*/
    --color7: #5D4BD8;
    /*AZUL-MORADO CLARO*/
    --color8: #150873;
    /*AZUL MARINO*/
    --color9: #392E85;
    /*AZUL MARINO CLARO*/
    --color10: #2A17B1;
    /*AZUL REY*/
    --color11: #35D2AB;
    /*UN TONO MÁS ARRIBA DEL LOGO*/
    --color12: #1F7C65;
    /*TURQUESA-GRIS*/
    --color13: #00A67C;
    /*TURQUESA OSCURO*/
    --logo: #5FD2B5;
    --boton: #006C51;
    --nav: rgba(95,210,181,0.15);
}

#imgHome {
    cursor: pointer;
}

* {
    padding: 0;
    margin: 0;
}

body {
    background-color: white;
    text-align: center;
}

nav {
    height: 11%;
    padding: 2%;
    padding-bottom: 1%;
    display: grid;
    grid-template-rows: 2fr 1fr;
    grid-template-columns: 1fr 2fr;
    grid-gap: 2%;
    background-color: var(--nav);
}

.logoNav {
    width: 90%;
    float: left;
    clear: both;
}

.menu {
    width: 100%;
    float: right;
    font-family: Georgia;
    font-size: 100%;
    text-align: center;
    clear: both;
    display: grid;
    grid-template-columns: 1fr 1.5fr 2fr 1fr 1.5fr
}

.barraBusqueda {
    padding-right: 3%;
    font-family: Georgia;
    text-align: right;
}

nav a {
    text-decoration: none;
    color: black;
}

.busqueda {
    width: 60%;
    height: 100%;
}

.search-button {
    height: 100%;
    width: 10%;
    font-family: Georgia;
    background-color: var(--boton);
    border: none;
    border-radius: 5px;
    color: white;
}

.secPrincipal {
    height: 65%;
    clear: both;
    max-width: 100%;
    position: relative;
}

button {
    cursor: pointer;
}

main {
    width: 100%;
    height: 100%;
    clear: both;
    text-align: center;
    background-color: white;
}

.secPrincipal {
    width: 96%;
    height: 45%;
    display: inline-block;
    text-align: center;
    background-color: rgba(144,218,219,1);
    color: black;
    border-radius: 5px;
    /*border:groove;*/
    /*background-color: var(--color1);*/
}

.filtros {
    width: 30%;
    height: 150%;
    float: left;
    border-radius: 5px;
    background-color: hsl(0, 0%, 92%);
}

.lugLista {
    width: 96%;
    height: 100%;
    display: inline-block;
    /*clear: both;*/
}

.lista {
    width: 63%;
    /*height:50%;*/
    float: right;
    display: inline-block;
    /*background-color: var(--color1);*/
    border-radius: 4%;
}

.espacio {
    height: 5%;
    width: 100%;
}

.description {
    text-align: justify;
    line-height: 1.5;
    background-color: white;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 2%;
    padding-right: 2%;
    width: 90%;
    display: inline-block;
    font-family: Georgia;
    font-size: small;
}

.costo {
    background-color: white;
    line-height: 2;
    text-align: left;
    font-size: 90%;
    padding-left: 2%;
    padding-right: 2%;
    width: 90%;
    display: inline-block;
    font-family: Georgia;
}

.capacidad {
    background-color: white;
    line-height: 2;
    text-align: left;
    padding-left: 2%;
    padding-right: 2%;
    font-size: 90%;
    width: 90%;
    display: inline-block;
    font-family: Georgia;
}

.complete_section {
    width: 90%;
    display: inline-block;
    /*background-color: rgba(125,113,216,0.3);*/
    /*background-color: hsl(0, 0%, 92%);*/
    background-color: rgba(53,210,171,0.5);
    border-radius: 10px;
    clear: both;
}

.login-icon {
    float: left;
    width: 85%;
    height: 70%;
    /*    display:grid;*/
    text-align: right;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0%;
}

.lugBoton {
    background-color: var(--boton);
    width: 94%;
    height: 50px;
    color: white;
    border: none;
    font-family: Georgia;
    /* border-top-right-radius: 6%;
    border-top-left-radius: 6%;*/
    /*    border-bottom-right-radius: 3%;
    border-bottom-left-radius: 3%;*/
    font-size: large;
}

.thBoton {
    padding: 1%;
}

.nombreLug {
    background-color: white;
    padding: 2%;
    width: 90%;
    display: inline-block;
    font-family: Georgia;
    font-size: x-large;
    /*    border-top-right-radius: 2%;
    border-top-left-radius: 2%;*/
}


.lugImg {
    width: 35%;
    float: left;
    padding-top: 2%;
    padding-left: 2%;
    border-radius: 5px;
}

.opsel {
    background-color: antiquewhite;
}

.tablaBox {
    /*border-width:medium;*/
    /*border-color:black;*/
    /*background-color:aquamarine;*/
    /*border:solid;*/
    /*margin: 0 auto;*/
    padding-left: 2.5%;
    padding-right: 2.5%;
}

.filtro {
    text-align: center;
    padding-top: 2%;
    padding-bottom: 2%;
    border: none;
    background-color: hsl(0, 0%, 92%);
    width: 95%;
    height: 4%;
    color: darkslategray;
    font-family: Georgia;
    border-radius: 0px;
}

    .filtro:focus {
        border: none;
    }


.colorf {
    color: black;
    font-family: Georgia;
}

h5 {
    text-align: left;
    padding-left: 2.5%;
    padding-right: 2.5%;
}

.botonf {
    background-color: var(--boton);
    width: 95%;
    height: 5%;
    border: none;
}

/*---------------------------------- CARRUSEL PARA LA LISTA DE LUGARES --------------------------------------------*/

.lugares {
    max-width: 70%;
    /*height: 100%;*/
    float: right;
    background-color: white;
    /*clear: both;*/
    position: relative;
    /*background-color: aqua;*/
}

.slide {
    width: 100%;
    height: 100%;
    background-size: cover;
    clear: both;
    display: none;
    /*padding-top: 3%;
    padding-bottom: 3%;*/
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}


@-webkit-keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

.next, .prev {
    /*position: absolute;*/
    /*top: 0%;
    width: 3%;
    height: 100%;*/
    top: 0%;
    cursor: pointer;
    width: 5%;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 2%;
}

.prev {
    float: left;
}

.next {
    float: right;
}

.colores {
    background-color: pink;
}

/*------------------------------------------ G R I D ------------------------------------------------------------------*/

.inside_novedad {
    width: 90%;
    height: 84%;
    display: inline-grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    background-color: rgba(199, 199, 199,0.1);
    padding: 2%;
    font-family: Georgia;
    font-size: medium;
}

.sec {
    width: 100%;
    height: 100%;
    padding-top: 2%;
    text-align: justify;
}

.sec2 {
    width: 100%;
    height: 100%;
}

.imagen {
    /*width: 100%;*/
    max-width: 100%;
    height: 100%;
    border-radius: 5px;
}
