:root {
    --color1: #FFC973;
    /*AMARILLO CLARITO*/
    --color2: #FFB640;
    /*AMARILLO MENOS CLARITO*/
    --color3: #A66600;
    /*NARANJA OSCURO*/
    --color4: #BF8830;
    /*NARANJA OSCURO CLARO*/
    --color5: #FF9E00;
    /*NARANJA INTENSO*/
    --color6: #7D71D8;
    /*AZUL CLARITO*/
    --color7: #5D4BD8;
    /*AZUL-MORADO CLARO*/
    --color8: #150873;
    /*AZUL MARINO*/
    --color9: #392E85;
    /*AZUL MARINO CLARO*/
    --color10: #2A17B1;
    /*AZUL REY*/
    --color11: #35D2AB;
    /*UN TONO MÁS ARRIBA DEL LOGO*/
    --color12: #1F7C65;
    /*TURQUESA-GRIS*/
    --color13: #00A67C;
    /*TURQUESA OSCURO*/
    --logo: #5FD2B5;
    --boton: #006C51;
    --nav: rgba(95,210,181,0.15);
}

#imgHome {
    cursor: pointer;
}

* {
    padding: 0;
    margin: 0;
}

body {
    background-color: white;
    text-align: center;
}

nav {
    height: 11%;
    padding: 2%;
    padding-bottom: 1%;
    display: grid;
    grid-template-rows: 2fr 1fr;
    grid-template-columns: 1fr 2fr;
    grid-gap: 2%;
    background-color: var(--nav);
}

.logoNav {
    width: 90%;
    float: left;
    clear: both;
}

.menu {
    width: 100%;
    float: right;
    font-family: Georgia;
    font-size: 100%;
    text-align: center;
    clear: both;
    display: grid;
    grid-template-columns: 1fr 1.5fr 2fr 1fr 1.5fr
}

.login-icon {
    float: left;
    width: 85%;
    height: 70%;
    /*    display:grid;*/
    text-align: right;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0%;
}


.barraBusqueda {
    padding-right: 3%;
    font-family: Georgia;
    text-align: right;
}

nav a {
    text-decoration: none;
    color: black;
}

.busqueda {
    width: 60%;
    height: 100%;
}

.search-button {
    height: 100%;
    width: 10%;
    font-family: Georgia;
    background-color: var(--boton);
    border: none;
    border-radius: 5px;
    color: white;
}

main {
    /*width: 100%;*/
    padding:2%;
    height: 78%;
    clear: both;
    text-align: center;
    background-color: white;
   /* background-image: url(../img/fondos/fondo1.jpg);
    background-repeat:no-repeat;
    background-size:100%;*/
}

.principal-section {
    width: 90%;
    height: auto;
    background-color: white;
    display: inline-block;
    border-radius: 5px;
    text-align: center;
}

.resultado-section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows:auto;
    grid-gap: 2%;
    padding: 2%;
}

.elemento {
    /*width:100%;*/
    /*height:80%;*/
    height: 90%;
    display: grid;
    grid-template-rows: 4fr 1fr 1fr 4fr 1fr;
    border-radius: 5px;
    padding: 5%;
    text-align: center;
    /*background-color: white;*/
    font-family: Georgia;
    background-color: hsl(0, 0%, 92%);
    color:darkslategray;
}

.margen {
    border-radius: 5px;
    /*    border-color: rgb(192,192,192);
    border-color: rgb(192,192,192);*/
    /*border: 1px solid rgba(96,211,182,0.5);*/
    border: 1px solid rgba(0,108,81,0.5);
    padding-top: 2%;
}

button{
    cursor:pointer;
}

.desc {
    text-align: justify;
    font-size: small;
    line-height: 1.5;
    padding-left: 4%;
    padding-right: 4%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-left: 1px solid rgba(0,108,81,0.5);
    border-right: 1px solid rgba(0,108,81,0.5);
    border-top: 1px solid rgba(0,108,81,0.5);
    border-bottom: none;
    padding-top: 2%;
}

.inside-element {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /*grid-gap: 2%;*/
}

.imglug{
    height:90%;
    max-width:100%;
    display:inline-block;
    border-radius:5px;
}

.php-button {
    background-color:var(--boton);
    border:none;
    border-radius:5px;
    color: white;
    font-family:Georgia;
    font-size:medium;
}

.admin-carpeta {
    padding-top: 10%;
    height: 60%;
    text-align: center;
    display: inline-block;
    /*padding-left: 10%;*/
}