:root {
    /*PALETA DE COLORES PRINCIPAL DE PARADISE*/
    --color1: rgb(3,95,108);
    /*Azul fuerte*/
    --color2: rgb(26,143,196);
    /*Turquesa oscuro*/
    --color3: rgb(124,233,254);
    /*Azul cielo*/
    --color4: rgb(151,251,197);
    /*Aquamarine claro*/
    --color5: rgb(81,237,198);
    /*Aquamarine intenso*/
    /*COLORES AUXILIARES DE LA PAGINA*/
    --pcolor1: rgb(144,218,219);
    /*azul-claro-gris*/
    --pcolor2: rgb(0,156,140);
    /*verde-oscuro-azul*/
    --pcolor3: rgb(78,209,197);
    /*turquesa-gris*/
    --pcolor4: rgb(0,135,209);
    /*azul-rey-claro*/
    --pcolor5: rgb(170,255,255);
    /*azul cielo más claro*/
    --pcolor6: rgb(0,183,235);
    /*azul cielo más intenso*/
}

* {
    padding: 0;
    margin: 0;
}

.NavOficial {
    height: 8%;
    padding: 2%;
    background-color: white;
    margin-left: 0%;
    margin-right: 0%;
}

.Nav2do {
    /*background-color: rgb(152,228,221);*/
    background-color: var(--pcolor1);
    height: 7%;
    padding-top: 0.5%;
    color: darkslategray;
}

.logoNav {
    float: left;
}

.barraBusqueda {
    font-family: Georgia;
    float: right;
    width: 40%;
    height: 10%;
    clear: both;
}

.busqueda {
    width: 70%;
    height: 550%;
}

.boton {
    width: 28%;
    height: 550%;
    background-color: var(--pcolor1);
}

nav a {
    text-decoration: none;
    color: black;
}

.pruebaMenu {
    width: 60%;
    float: right;
    font-family: Georgia;
    font-size: 97%;
}

.pMTxt {
    width: 16%;
    float: right;
    text-align: left;
    padding-right: 1%;
}

.pMT {
    width: 12%;
    float: left;
}

.pMTx {
    width: 20%;
    float: left;
}

.pMT3 {
    width: 25%;
    float: left;
    text-align: right;
}

.pMT2 {
    width: 21%;
    float: left;
    text-align: right;
}

.pMTxt1 {
    width: 16%;
    float: right;
    text-align: right;
    margin-top: -1.5%;
    padding-right: 2.5%;
}

button {
    cursor: pointer;
}

main {
    width: 100%;
    height: 100%;
    clear: both;
    text-align: center;
    background-color: white;
}


.imglug
{
    background-color: var(--color1);
    width:100%;
    height:40%;
}
.tipol
{
    text-align:justify;
    padding-left:3%;
    padding-right:3%;
    line-height:1.5;
    font-size:small;
    padding-top:1%;
    padding-bottom:1%;
    color:darkslategrey;
    font-family:Georgia;
}

.nombreLug {
    font-size: larger;
    font-family: Georgia;
}

.tablelug
{
    width:60%;
    float:left;
}

.publicidad
{
    background-color: var(--pcolor1);
    width:30%;
    height:80%;
    float:right;
}
