:root
{
/*PALETA DE COLORES PRINCIPAL DE PARADISE*/
    --color1: rgb(3,95,108);
        /*Azul fuerte*/
    --color2: rgb(26,143,196);
        /*Turquesa oscuro*/
    --color3: rgb(124,233,254);
        /*Azul cielo*/
    --color4: rgb(151,251,197);
        /*Aquamarine claro*/
    --color5: rgb(81,237,198);
        /*Aquamarine intenso*/

/*COLORES AUXILIARES DE LA PAGINA*/
    --pcolor1: rgb(144,218,219);
        /*azul-claro-gris*/
    --pcolor2: rgb(0,156,140);
        /*verde-oscuro-azul*/
    --pcolor3: rgb(78,209,197);
        /*turquesa-gris*/
    --pcolor4: rgb(0,135,209);
        /*azul-rey-claro*/
    --pcolor5: rgb(170,255,255);
        /*azul cielo más claro*/
    --pcolor6: rgb(0,183,235);
        /*azul cielo más intenso*/
}

*
{
    padding:0;
    margin:0;
}

.NavOficial
{
    height:8%;
    padding:2%;
    background-color:white;
    margin-left: 0%;
    margin-right: 0%;

}

.Nav2do
{
    /*background-color: rgb(152,228,221);*/
    background-color: var(--pcolor1);
    height:7%;
    padding-top:0.5%;
    color:darkslategray;
}

.logoNav
{
    float:left;
}

.barraBusqueda
{
    font-family: Georgia;
    float:right;
    width:40%;
    height:10%;
    clear:both;
}

.busqueda
{
    width:70%;
    height:550%;
}

.boton
{
    width:28%;
    height:550%;
    background-color: var(--pcolor1);
}

nav a
{
    text-decoration:none;
    color:black;
}

.pruebaMenu
{
    width:60%;
    float:right;
    font-family:Georgia;
    font-size:97%;
}

.pMTxt
{
    width:16%;
    float:right;
    text-align:left;
}

.pMT
{
    width:12%;
    float:left;
}

.pMTx
{
    width:20%;
    float:left;
}

.pMT3
{
    width:25%;
    float:left;
    text-align:right;
}

.pMT2
{
    width:21%;
    float:left;
    text-align:right;
}

.pMTxt1 {
    width: 16%;
    float: right;
    text-align: right;
    margin-top: -1.5%;
    padding-right: 2.5%;
}

button{
    cursor:pointer;
}

.secPrincipal
{
    width: 100%;
    height: 90%;
    display:inline-block;
    text-align:center;
    /*border:groove;*/
    /*border-color: var(--pcolor5);*/
}

.perfil {
    background-color: hsl(0, 0%, 92%);
    width: 25%;
    height: 100%;
    clear: both;
    font-family: Georgia;
    float: left;
    /*    background-color: var(--pcolor3);
    width:30%;
    height:90%;
    clear:both;
    float:left;
    border-top-left-radius: 4%;
    border-bottom-left-radius: 4%;
    font-family:Georgia;
    font-size:large;
    color:darkslategrey;*/
}

.acciones
{
    width:75%;
    height:100%;
    float:right;
    background-color:white;
    /*background-color:#F5F5F5;*/
    border-top-right-radius: 4%;
    border-bottom-right-radius: 4%;
    /*background-image: url(../img/logoOficial.png);*/
}

main
{
    width:100%;
    height:100%;
    clear:both;
    text-align:center;
    /*background-color:#F5F5F5;*/
    background-color: #FFFAFA;
}

hr
{
    height:4px;
    border-width:0;
    background-color: white;
    width:80%;
    text-align:center;
    display:inline-block;
}

.Plateral
{
    line-height:2.3;
}

section a
{
    text-decoration:none;
    color:darkslategrey;
}

.hotl
{
    width:1px;
    height:50%;
    background-color: lightslategray;
}

/*SECCIONES OCULTAS EN HTML*/

.reservacion
{
    width:100%;
    height:100%;
    float:right;
    /*background-color:lightpink;*/
/*    border-top-right-radius: 4%;
    border-bottom-right-radius: 4%;*/
    text-align:center;
    font-family:Georgia;
    background-color:white;
}

section h3
{
    font-family:Georgia;
}

.formRes {
    width: 70%;
    text-align: center;
    padding: 5%;
    /*display:inline-block;*/
}

.tableRes {
    font-family: Georgia;
    /*margin:auto;*/
    font-family: Georgia;
    font-size: small;
    width: 100%;
    
    background-color: rgb(198,255,255);
}

.botonR
{
    width:200%;
    height: 30px;
    text-align:center;
    display:inline-block;
    border:none;
    background-color: var(--pcolor3);
    color:white;
    font-size:x-large;
    cursor:pointer;
}

.formInput
{
    color:darkslategrey;
    width:90%;
    height:30px;
    background-color: white;
    border:none;
    border-radius: 4%;
	padding-left:4%;
	font-size:120%;
}


.ins1
{
    text-align:right;
    line-height:3;
    padding-right:5%;
}

.ins2
{
    text-align:left;
    width:50%;
}

.formComment
{
    color:darkslategrey;
    width:90%;
    height:80px;
    background-color: white;
    border:none;
    border-radius: 4%;
	padding-left:4%;
	font-size:120%;
}



.configuracion
{
    width:100%;
    height:100%;
    float:right;
    background-color:yellow;
    border-top-right-radius: 4%;
    border-bottom-right-radius: 4%;
    background-color:white;
}

.button2 {
    border: none;
    background-color:none;
    font-family:Georgia;
    background:none;
    font-size:large;
    line-height:2.3;
    color: darkslategrey;
    width:90%;

}


dialog[open] {
    width:30%; 
    height:10%; 
    align-items:center; 
    margin:auto; 
    margin-top:-50%;
    background-color: rgb(3,95,108);
    color: white;
    text-align: center;
    padding: 4%;
    font-family: Arial;
    font-size: larger;
    
}


/*--------------------------------- G R I D   C O N F I G U R A C I O N -------------------------------------------------------*/

.complete_section {
    width: 70%;
    /*max-width: 100%;*/
    /*border: 10px solid #000;*/
    height: 80%;
    margin: auto;
    font-size: large;
    /*line-height: 1.5;*/
    text-align: center;
    display: grid;
    grid-template-columns: 40% 58%;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 1%;
    /*background-color: var(--pcolor5);*/
    background-color: rgba(170,255,255,0.7);
    border-radius:2%;
    font-family:Georgia;
}

.child {
    display: block;
    padding-top: 5%;
    padding-left: 10%;
    color: darkslategray;
    text-align: left;
    border-bottom: 1px solid;
    border-color: gray;
    /*background-color: #2f89fc;*/
    /*box-shadow: 2px 2px 10px rgba(0,0,0,.25);*/
}

.child2 {
    display: block;
    padding-top: 5%;
    padding-left: 15%;
    color: darkslategray;
    text-align: left;
    border-bottom: 1px solid;
    border-color: gray;
    /*background-color: #2f89fc;*/
}

.updBoton {
    float: right;
    margin-right: 10%;
    width: 20%;
    height: 50%;
    /*background-color: var(--pcolor1);*/
    background-color:white;
}

.configuracion > h3 {
    color: darkslategray;
    /*background-color: rgba(170,255,255,0.7);*/
}

/*--------------------------------- G R I D -------------------------------------------------------*/


/*--------------------------------- M I N I   U P D A T E -------------------------------------------------------*/

.update{
    width:50%;
    /*background-color:aquamarine;*/
    display:inline-block;
    font-family:Georgia;
    font-size:medium;
    
}

.pss_us {
    /*background-color: aqua;*/
    float:left;
    /*line-height:2.5;*/
}

.txt_input {
    background-color: var(--pcolor1);
    border:none;
    float: right;
    width:63%;
    height:7%;
}

.udpButton {
    background-color: var(--pcolor5);
    width:30%;
    height:5%;
    float:right;
}



/*--------------------------------- G R I D   H I S T O R I A L -------------------------------------------------------*/

.historial {
    width: 100%;
    height: 100%;
    float: right;
    background-color: aqua;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    background-color: white;
    /*grid-gap: 1%;*/
}

/*.lugares {
    max-width: 70%;*/
    /*height: 100%;*/
    /*float: right;
    background-color: white;*/
    /*clear: both;*/
    /*position: relative;*/
    /*background-color: aqua;*/
/*}*/

.slides {
    width: 90%;
    height: 90%;
    background-size: cover;
    clear: both;
    display: none;
    padding-top: 2%;
    padding-right: 5%;
    padding-left: 5%;
    font-family: Georgia;
    font-size: medium;
}

.pat {
    width: 100%;
    height: 80%;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr;
    /* background-color: aqua;*/
    grid-gap: 6px;
    font-family: Georgia;
    font-size: medium;
    /*background-color: rgba(199, 199, 199,0.1);*/
}

.ch1 {
    display: block;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 2fr 1fr 1fr 4fr;
    /*background-color: aquamarine;*/
    font-family: Georgia;
    font-size: medium;
    border: 1px solid rgba(0,0,0,0.2);
    border-radius: 4px;
    text-align:center;
}

.centrar{
    text-align:center;
}

.ch2 {
    display: block;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 4fr;
    background-color: rgba(199, 199, 199,0.1);
    /*grid-gap: 20px;*/
    /*background-color: cornflowerblue;*/
    font-family: Georgia;
    font-size: medium;
    border: 1px solid rgba(0,0,0,0.2);
    border-radius: 4px;
}

.labelR {
    border: 1px solid rgba(0,0,0,0.2);
    border-radius: 4px;
    padding: 2.5%;
    /*border-bottom: 1px solid rgba(0,0,0,0.2);
    border-top: 1px solid rgba(0,0,0,0.2);
    border-right: 1px solid rgba(0,0,0,0.2);
    -moz-border-radius-bottomright: 4px;
    -moz-border-radius-topright: 4px;*/
}

.labelL {
    padding-top: 6%;
    padding-left:10%;
    /*text-align:left;*/
}

.ch1 > section {
    border: 1px solid rgba(0,0,0,0.2);
    background-color: rgba(199, 199, 199,0.1);
    border-radius: 4px;
    padding:2.5%;
}

.ch3 {
    background-color: rgba(199, 199, 199,0.1);
    /*border: solid rgba(0,0,0,0.1);*/
    border: 1px solid rgba(0,0,0,0.2);
    border-radius: 4px;
}

.ImgCH{
    width:90%;
    border-radius:4px;
}

.espacio {
    height: 5%;
    width: 100%;
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}


@-webkit-keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

.next, .prev {
    /*position: absolute;*/
    /*top: 0%;
    width: 3%;
    height: 100%;*/
    top: 0%;
    cursor: pointer;
    width: 5%;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 2%;
}

.prev {
    float: left;
}

.next {
    float: right;
}
