:root {
    --color1: #FFC973;
    /*AMARILLO CLARITO*/
    --color2: #FFB640;
    /*AMARILLO MENOS CLARITO*/
    --color3: #A66600;
    /*NARANJA OSCURO*/
    --color4: #BF8830;
    /*NARANJA OSCURO CLARO*/
    --color5: #FF9E00;
    /*NARANJA INTENSO*/
    --color6: #7D71D8;
    /*AZUL CLARITO*/
    --color7: #5D4BD8;
    /*AZUL-MORADO CLARO*/
    --color8: #150873;
    /*AZUL MARINO*/
    --color9: #392E85;
    /*AZUL MARINO CLARO*/
    --color10: #2A17B1;
    /*AZUL REY*/
    --color11: #35D2AB;
    /*UN TONO MÁS ARRIBA DEL LOGO*/
    --color12: #1F7C65;
    /*TURQUESA-GRIS*/
    --color13: #00A67C;
    /*TURQUESA OSCURO*/
    --logo: #5FD2B5;
    --boton: #006C51;
    --nav: rgba(95,210,181,0.15);
}

* {
    padding: 0;
    margin: 0;
}

body {
    background-color: white;
    text-align: center;
}

#imgHome {
    cursor: pointer;
}

.navOficial {
    height: 11%;
    padding: 2%;
    padding-bottom: 1%;
    display: grid;
    grid-template-rows: 2fr 1fr;
    grid-template-columns: 1fr 2fr;
    grid-gap: 2%;
    background-color: var(--nav);
}

.logoNav {
    width: 90%;
    float: left;
    clear: both;
}

.menu {
    width: 100%;
    float: right;
    font-family: Georgia;
    font-size: 100%;
    text-align: center;
    clear: both;
    display: grid;
    grid-template-columns: 1fr 1.5fr 2fr 1fr 1.5fr
}

.barraBusqueda {
    padding-right: 3%;
    font-family: Georgia;
    text-align: right;
}

.menu a {
    text-decoration: none;
    color: black;
}

.busqueda {
    width: 60%;
    height: 100%;
}

.search-button {
    height: 100%;
    width: 10%;
    font-family: Georgia;
    background-color: var(--boton);
    border: none;
    border-radius: 5px;
    color: white;
}

.login-icon {
    float: left;
    width: 85%;
    height: 70%;
    /*    display:grid;*/
    text-align: right;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0%;
}

main{
    width:100%;
    height:90%;
    background-color:white;
}

main > nav {
    height: 3%;
    display: grid;
    /*background-color: rgba(5,8,115,0.4);*/
    background-color: rgba(255, 69, 0,0.5);
    grid-template-columns: 5fr 1fr 1fr 1fr 5fr;
    grid-auto-rows: 1fr;
    clear: both;
    padding: 1%;
}

.hotl {
    width: 1px;
    height: 100%;
    float:left;
    background-color: darkslategray;
}

.hot2{
    width:1px;
    height:100%;
}

.dot{
    width:90%;
    height:100%;
    float:right;
}

button {
    cursor: pointer;
}

.secPrincipal
{
    width: 100%;
    height: 100%;
    display:inline-block;
    text-align:center;
    /*border:groove;*/
    border-color: var(--color5);
}

.perfil {
    background-color: hsl(0, 0%, 92%);
    width: 25%;
    height: 100%;
    clear: both;
    font-family: Georgia;
    float: left;
    text-align:center;
    display:grid;
    grid-template-rows:3fr 1fr 4fr;
}

.latButton {
    text-align: center;
    font-family: Georgia;
    border:none;
    outline:none;
    color:darkslategray;
}

.secbtn {
    text-align: center;
    font-family: Georgia;
    border: none;
    outline: none;
    color: darkslategray;
    font-family:80%;
    padding-top:3%;
    cursor:pointer;
}

    .secbtn > a {
        font-family: Georgia;
        font-size:90%;
        line-height:0.4;
    }

.userFoto {
    padding: 10%;
    display: inline-block;
    max-width: 80%;
    height: 80%;
    /*border-radius:80px;*/
}

.acciones {
    width: 75%;
    height: 100%;
    float: right;
    background-image: url(../img/fondos/publicidadperfil.png);
    background-size: 100%;
	background-repeat: no-repeat;
}

.latLogo{
    padding:5%;
    width:90%;
}

.Plateral {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    text-align: center;
}

section a
{
    text-decoration:none;
    color:darkslategrey;
}



/*SECCIONES OCULTAS EN HTML*/

.reservacion
{
    width:100%;
    height:100%;
    float:right;
    /*background-color:lightpink;*/
/*    border-top-right-radius: 4%;
    border-bottom-right-radius: 4%;*/
    text-align:center;
    font-family:Georgia;
    background-color:white;
}

.formRes {
    width: 70%;
    text-align: center;
    padding: 5%;
    /*display:inline-block;*/
}

.tableRes {
    font-family: Georgia;
    /*margin:auto;*/
    font-family: Georgia;
    font-size: small;
    width: 100%;
    
    background-color: rgb(198,255,255);
}

.botonR
{
    width:200%;
    height: 30px;
    text-align:center;
    display:inline-block;
    border:none;
    background-color: var(--pcolor3);
    color:white;
    font-size:x-large;
    cursor:pointer;
}

.formInput
{
    color:darkslategrey;
    width:90%;
    height:30px;
    background-color: white;
    border:none;
    border-radius: 4%;
	padding-left:4%;
	font-size:120%;
}


.ins1
{
    text-align:right;
    line-height:3;
    padding-right:5%;
}

.ins2
{
    text-align:left;
    width:50%;
}

.formComment
{
    color:darkslategrey;
    width:90%;
    height:80px;
    background-color: white;
    border:none;
    border-radius: 4%;
	padding-left:4%;
	font-size:120%;
}



.configuracion
{
    width:100%;
    height:100%;
    float:right;
    background-color:yellow;
    border-top-right-radius: 4%;
    border-bottom-right-radius: 4%;
    background-color:white;
}

.button2 {
    border: none;
    background-color:none;
    font-family:Georgia;
    background:none;
    font-size:large;
    line-height:2.3;
    color: darkslategrey;
    width:90%;

}


dialog[open] {
    width:30%; 
    height:10%; 
    align-items:center; 
    margin:auto; 
    margin-top:-50%;
    background-color: rgb(3,95,108);
    color: white;
    text-align: center;
    padding: 4%;
    font-family: Arial;
    font-size: larger;
    
}


/*--------------------------------- G R I D   C O N F I G U R A C I O N -------------------------------------------------------*/

.complete_section {
    width: 70%;
    /*max-width: 100%;*/
    /*border: 10px solid #000;*/
    height: 70%;
    margin: auto;
    font-size: large;
    /*line-height: 1.5;*/
    text-align: center;
    display: grid;
    grid-template-columns: 40% 58%;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 1%;
    /*background-color: var(--pcolor5);*/
    /*background-color: rgba(170,255,255,0.7);*/
    /*border-radius:2%;*/
    font-family:Georgia;
}

.configuracion > h3 {
    font-family: Georgia;
    font-size: large;
    color: darkslategray;
    background-color: var(--color1);
    padding: 2%;
}


.child {
    display: block;
    padding-top: 5%;
    padding-left: 10%;
    color: darkslategray;
    text-align: left;
    border-bottom: 1px solid;
    border-color: gray;
    /*background-color: #2f89fc;*/
    /*box-shadow: 2px 2px 10px rgba(0,0,0,.25);*/
}

.imgButton {
    margin-top: 3%;
    width: 98%;
    height: 60%;
    background-color: var(--boton);
    border: none;
    border-radius: 5px;
    color: white;
    font-family: Georgia;
}

.child2 {
    display: block;
    padding-top: 5%;
    padding-left: 15%;
    color: darkslategray;
    text-align: left;
    border-bottom: 1px solid;
    border-color: gray;
    /*background-color: #2f89fc;*/
}

.updBoton {
    float: right;
    margin-right: 10%;
    width: 20%;
    height: 70%;
    /*background-color: var(--pcolor1);*/
    background-color: var(--boton);
    border: none;
    border-radius: 5px;
    color:white;
    font-family:Georgia;
}

.configuracion > h3 {
    color: darkslategray;
    /*background-color: rgba(170,255,255,0.7);*/
}

.getConfig {
    display: grid;
    height:60%;
    grid-template-columns: 1fr 2fr;
    grid-gap:2%;
}


/*--------------------------------- G R I D -------------------------------------------------------*/

/*--------------------------------- M I N I   U P D A T E -------------------------------------------------------*/
.update {
    width: 60%;
    height:40%;
    /*background-color:aquamarine;*/
    display: inline-block;
    font-family: Georgia;
    font-size: medium;
}

#udpPsswd{
    height:100%;
}

.pss_us {
    text-align:left;
}

.txt_input {
    /*background-color: var(--pcolor1);*/
    /*border:none;*/
    float: right;
    width:100%;
    height:80%;
}

.botones{
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-gap:2%;
}

.udpButton {
    background-color: var(--boton);
    border:none;
    border-radius:5px;
    width: 100%;
    height: 70%;
    font-family:Georgia;
    color:white;
}



/*--------------------------------- G R I D   H I S T O R I A L -------------------------------------------------------*/

.historial {
    width: 100%;
    height: 100%;
    float: right;
    background-color: aqua;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    background-color: white;
    /*grid-gap: 1%;*/
}

.historial >h3{
    font-family:Georgia;
    font-size:large;
    color:darkslategray;
	background-color: var(--color1);
	padding:2%;
}

    /*.lugares {
    max-width: 70%;*/
    /*height: 100%;*/
    /*float: right;
    background-color: white;*/
    /*clear: both;*/
    /*position: relative;*/
    /*background-color: aqua;*/
    /*}*/
.slides {
    width: 90%;
    height: 90%;
    background-size: cover;
    clear: both;
    display: none;
    padding-top: 2%;
    padding-right: 5%;
    padding-left: 5%;
    font-family: Georgia;
    font-size: medium;
}

.pat {
    width: 100%;
    height: 80%;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr;
    /* background-color: aqua;*/
    grid-gap: 6px;
    font-family: Georgia;
    font-size: medium;
    /*background-color: rgba(199, 199, 199,0.1);*/
}

.ch1 {
    display: block;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 2fr 1fr 1fr 4fr;
    /*background-color: aquamarine;*/
    font-family: Georgia;
    font-size: medium;
    border: 1px solid rgba(0,0,0,0.2);
    border-radius: 4px;
    text-align:center;
}

.centrar{
    text-align:center;
}

.ch2 {
    display: block;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 4fr;
    background-color: rgba(199, 199, 199,0.1);
    /*grid-gap: 20px;*/
    /*background-color: cornflowerblue;*/
    font-family: Georgia;
    font-size: medium;
    border: 1px solid rgba(0,0,0,0.2);
    border-radius: 4px;
}

.labelR {
    border: 1px solid rgba(0,0,0,0.2);
    border-radius: 4px;
    padding: 2.5%;
    /*border-bottom: 1px solid rgba(0,0,0,0.2);
    border-top: 1px solid rgba(0,0,0,0.2);
    border-right: 1px solid rgba(0,0,0,0.2);
    -moz-border-radius-bottomright: 4px;
    -moz-border-radius-topright: 4px;*/
}

.labelL {
    padding-top: 6%;
    padding-left:10%;
    /*text-align:left;*/
}

.ch1 > section {
    border: 1px solid rgba(0,0,0,0.2);
    background-color: rgba(199, 199, 199,0.1);
    border-radius: 4px;
    padding:2.5%;
}

.ch3 {
    background-color: rgba(199, 199, 199,0.1);
    /*border: solid rgba(0,0,0,0.1);*/
    border: 1px solid rgba(0,0,0,0.2);
    border-radius: 4px;
}

.ImgCH{
    height:100%;
	max-width:100%;
    border-radius:4px;
}

.espacio {
    height: 5%;
    width: 100%;
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}


@-webkit-keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

.next, .prev {
    /*position: absolute;*/
    /*top: 0%;
    width: 3%;
    height: 100%;*/
    top: 0%;
    cursor: pointer;
    width: 5%;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 2%;
}

.prev {
    float: left;
}

.next {
    float: right;
}


main dialog[open] {
    margin-left: 15%;
    margin-right: 15%;
    width: 56%;
    height: 75%;
    text-align: left;
    /*background-color: rgb(255,240,220);*/
    background-color:white;
    padding-top: 3%;
    padding-left:7%;
    padding-right:7%;
    font-family:Georgia;
    font-size:medium;
    line-height: 1.5;
    color: black;
    border: none;
    border-radius: 2%;
/*    border-color: hsl(0, 0%, 92%);*/
    /*background-color: hsl(0, 0%, 92%);*/
    /*background-color: rgb(135,225,215);*/
}

section dialog[open] {
    margin-left: 25%;
    margin-right: 25%;
    width: 40%;
    height: 60%;
    text-align: left;
    background-color: white;
    padding-top: 3%;
    padding-left: 5%;
    padding-right: 5%;
    font-family: Georgia;
    font-size: medium;
    line-height: 1.5;
    color: darkslategray;
    border: none;
    border-radius: 2%;

}



