:root {
    --color1: #FFC973;
    /*AMARILLO CLARITO*/
    --color2: #FFB640;
    /*AMARILLO MENOS CLARITO*/
    --color3: #A66600;
    /*NARANJA OSCURO*/
    --color4: #BF8830;
    /*NARANJA OSCURO CLARO*/
    --color5: #FF9E00;
    /*NARANJA INTENSO*/
    --color6: #7D71D8;
    /*AZUL CLARITO*/
    --color7: #5D4BD8;
    /*AZUL-MORADO CLARO*/
    --color8: #150873;
    /*AZUL MARINO*/
    --color9: #392E85;
    /*AZUL MARINO CLARO*/
    --color10: #2A17B1;
    /*AZUL REY*/
    --color11: #35D2AB;
    /*UN TONO MÁS ARRIBA DEL LOGO*/
    --color12: #1F7C65;
    /*TURQUESA-GRIS*/
    --color13: #00A67C;
    /*TURQUESA OSCURO*/
    --logo: #5FD2B5;
    --boton: #006C51;
    --nav: rgba(95,210,181,0.15);
}

* {
    padding: 0;
    margin: 0;
}

body {
    background-color: white;
    text-align: center;
}

#imgHome {
    cursor: pointer;
}

nav {
    height: 11%;
    padding: 2%;
    padding-bottom: 1%;
    display: grid;
    grid-template-rows: 2fr 1fr;
    grid-template-columns: 1fr 2fr;
    grid-gap: 2%;
    background-color: var(--nav);
}

.logoNav {
    width: 90%;
    float: left;
    clear: both;
}

.menu {
    width: 100%;
    float: right;
    font-family: Georgia;
    font-size: 100%;
    text-align: center;
    clear: both;
    display: grid;
    grid-template-columns: 1fr 1.5fr 2fr 1fr 1.5fr
}

.barraBusqueda {
    padding-right: 3%;
    font-family: Georgia;
    text-align: right;
}

nav a {
    text-decoration: none;
    color: black;
}

.busqueda {
    width: 60%;
    height: 100%;
}

.search-button {
    height: 100%;
    width: 10%;
    font-family: Georgia;
    background-color: var(--boton);
    border: none;
    border-radius: 5px;
    color: white;
}

.login-icon {
    float: left;
    width: 85%;
    height: 70%;
    /*    display:grid;*/
    text-align: right;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0%;
}

main{
    height:80%;
    /*background-color:pink;*/
}

.principal {
    padding-left: 4%;
    padding-right: 4%;
    height: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 1%;
    /*background-color: aquamarine;*/
}

.formulario {
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 2%;
    padding-bottom: 2%;
    height: 75%;
    width: 85%;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 2fr 1fr 1fr 2fr 3fr 1fr;
    grid-gap: 2%;
    /*background-color: aqua;*/
    /*background-color: hsl(0, 0%, 92%);*/
    background-color: rgba(174,174,174,0.2);
    font-family: Georgia;
    text-align: left;
    font-size: medium;
    border-radius:5px;
}

.child1 {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 2%;
}

.child2 {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 2%;
    text-align:center;
}

.collague{
    background-color:antiquewhite;
    height:80%;
}

.align{
    text-align:center;
}

.btnSubmit{
    border:none;
    border-radius:5px;
    color:white;
    font-family:Georgia;
    background-color: var(--boton);
}

/*main
{
    width:100%;
    height:200%;
    clear:both;*/
    /*background-color: var(--color3);*/
    /*background-image:url(../img/fondos/registro.jpg);
    text-align:center;
}

.secMargin
{*/
    /*background-color: var(--pcolor5);*/
    /*background-color:#F0F8FF;
    display:inline-block;
    text-align:center;
    width:80%;
    height:90%;
    border-top-left-radius: 10%;
    border-top-right-radius: 10%;
    font-family:Georgia;
    line-height:1.5;
}

.formulario{
    height:100%;
    width:100%;
}

.secS {
    width: 100%;
    height: 10%;
}

.secMargin h3 {
    padding-top: 1%;
    color: darkslategray;
}

.submenu
{
    width:100%;
    height:40%;
    clear:both;
}

footer
{
    background-color: var(--color4);
    width:100%;
    height:20%;
    clear:both;
    bottom:0;
}



.ins1
{
    text-align:right;
    line-height:3;
    padding-right:5%;
}

.ins2
{
    text-align:left;
    width:50%;
}

.registrar
{
    width:80%;
    height:70%;
    display:inline-block;
    text-align:center;
}

.formInput
{
    color:darkslategrey;
    width:90%;
    height:40px;
    background-color: rgb(144,218,219);
    border:none;
    border-radius: 4%;
	padding-left:4%;
	font-size:120%;
}

select
{
    color:darkslategrey;
    width:90%;
    height:40px;
    background-color: rgb(144,218,219);
    border:none;
    border-radius: 4%;
	padding-left:4%;
	font-size:120%;
    
}

.terminos
{
    padding: 2%;
    font-family:Georgia;
    font-size:80%;
    line-height:1.5;
}

.botonR
{
    width:200%;
    height: 80px;
    text-align:center;
    display:inline-block;
    border:none;
    background-color: var(--pcolor2);
    color:white;
    font-size:x-large;
    cursor:pointer;
}

button{
    cursor:pointer;
}

.dialogo {
    display: inline-block;
    text-align: center;
    background-color: var(--color1);
    color: white;
    align-items:center;
    align-content:center;
    height:100px;
    width:600px;
    clear:both;
}

.error {
    width:60%; 
    height:40%; 
    align-items:center; 
    margin:auto; 
    margin-top:-50%; 
    background-color:rgb(3,95,108); 
    color:white;
}

.errorB
{
    background-color: var(--pcolor1);
    width:90%;
    height:3%;
}

.error2 {
    width: 30%;
    height: 10%;
    align-items: center;
    margin: auto;
    margin-top: -50%;
    background-color: hsl(0, 0%, 92%);
    color: white;
    text-align: center;
    padding: 4%;
    font-family: Arial;
    font-size: larger;
}*/