:root {
    --color1: #FFC973;
    /*AMARILLO CLARITO*/
    --color2: #FFB640;
    /*AMARILLO MENOS CLARITO*/
    --color3: #A66600;
    /*NARANJA OSCURO*/
    --color4: #BF8830;
    /*NARANJA OSCURO CLARO*/
    --color5: #FF9E00;
    /*NARANJA INTENSO*/
    --color6: #7D71D8;
    /*AZUL CLARITO*/
    --color7: #5D4BD8;
    /*AZUL-MORADO CLARO*/
    --color8: #150873;
    /*AZUL MARINO*/
    --color9: #392E85;
    /*AZUL MARINO CLARO*/
    --color10: #2A17B1;
    /*AZUL REY*/
    --color11: #35D2AB;
    /*UN TONO MÁS ARRIBA DEL LOGO*/
    --color12: #1F7C65;
    /*TURQUESA-GRIS*/
    --color13: #00A67C;
    /*TURQUESA OSCURO*/
    --logo: #5FD2B5;
    --boton: #006C51;
    --nav: rgba(95,210,181,0.15);
}

* {
    padding: 0;
    margin: 0;
}

body {
    background-color: white;
    text-align: center;
}

#imgHome {
    cursor: pointer;
}

nav {
    height: 11%;
    padding: 2%;
    padding-bottom: 1%;
    display: grid;
    grid-template-rows: 2fr 1fr;
    grid-template-columns: 1fr 2fr;
    grid-gap: 2%;
    background-color: var(--nav);
}

.logoNav {
    width: 90%;
    float: left;
    clear: both;
}

.menu {
    width: 100%;
    float: right;
    font-family: Georgia;
    font-size: 100%;
    text-align: center;
    clear: both;
    display: grid;
    grid-template-columns: 1fr 1.5fr 2fr 1fr 1.5fr
}

.barraBusqueda {
    padding-right: 3%;
    font-family: Georgia;
    text-align: right;
}

nav a {
    text-decoration: none;
    color: black;
}

.busqueda {
    width: 60%;
    height: 100%;
}

.search-button {
    height: 100%;
    width: 10%;
    font-family: Georgia;
    background-color: var(--boton);
    border: none;
    border-radius: 5px;
    color: white;
}

.login-icon {
    float: left;
    width: 85%;
    height: 70%;
    /*    display:grid;*/
    text-align: right;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0%;
}

button {
    cursor: pointer;
}

main {
    width: 100%;
    height: 100%;
    clear: both;
    text-align: center;
    background-color: white;
}


.imglug
{
    /*background-color: var(--color1);*/
    width:100%;
    height:45%;
}
.tipol
{
    text-align:justify;
    padding-left:3%;
    padding-right:3%;
    line-height:1.5;
    font-size:small;
    padding-top:1%;
    padding-bottom:1%;
    color:darkslategrey;
    font-family:Georgia;
}

.nombreLug {
    font-size: larger;
    font-family: Georgia;
}

.tablelug
{
    width:60%;
    float:left;
}

.publicidad {
    background-color: rgba(144,218,219,0.2);
    width: 30%;
    height: 80%;
    float: right;
    padding-top:1.5%;
    margin-right: 2%;
    margin-bottom: 1%;
    font-family:Georgia;
    font-size:medium;
    line-height:2.5;
}

.publicidad >a{
    color:darkslategray;
    text-decoration:none;
}

.imgAnuncio{
    width:80%;

}

.resButton {
    border: none;
    width: 100%;
    height: 50px;
    background-color: var(--boton);
    border-radius: 5px;
    color: white;
    font-family: Georgia;
    font-size: medium;
}

#reservacion[open] {
    display: inline-block;
    width: 60%;
    height: 70%;
    margin-left: 17%;
    margin-right: 17%;
    padding: 3%;
}

/*--------------------------------- G R I D -------------------------------------------------------*/

.complete_section {
    width: 100%;
    height: 100%;
    margin: auto;
    font-size: large;
    text-align: center;
    align-content:center;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 2fr 2fr 2fr 2fr 2fr 1fr;
    grid-gap: 3%;
    font-family: Georgia;
}

.child {
    display: grid;
    color: darkslategray;
    text-align: left;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
}

.child3 {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    display: grid;
    grid-gap: 2%;
    color: darkslategray;
    text-align: left;
}



.chButton{
    height:100%;
}

/*--------------------------------- G R I D -------------------------------------------------------*/


/*---------------------------- C A R R U S E L ----------------------------------------------------*/
.slide {
    width: 100%;
    height: 100%;
    background-size: cover;
    clear: both;
    display: none;
    padding-top: 1%;
    font-family: Georgia;
    font-size: medium;
}

.imagenes {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    /* background-color: aqua;*/
    grid-gap: 2px;
    font-family: Georgia;
    font-size: medium;
    object-fit: scale-down;
}

.ch1 {
    object-fit: scale-down;
    text-align:center;
    align-content:center;
    align-items:center;
}

.ch2 {
    height:98%;
	max-width:98%;
    border-radius:5px;
    object-fit: scale-down;
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}


@-webkit-keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

.next, .prev {
    position: absolute;
    margin-top:0%;
    cursor: pointer;
    width: 9%;
    margin-bottom:0%;
}

.prev {
    left:0;
}

.next {
    right:0;
}


#dialog_error[open] {
    width: 40%;
    height: auto;
    position: absolute;
    display: inline-block;
    text-align: center;
    padding: 1%;
    top: auto;
    left: 28%;
    right: 28%;
    color: darkslategray;
    border: 3px solid;
    border-color: black;
    /*background-color: hsl(0, 0%, 92%);*/
    font-family: Georgia;
    font-size: medium;
    line-height: 1.5;
}

#cerrar_error {
    background-color: #006C51;
    color: white;
    width: 50%;
    border: none;
    border-radius: 5px;
    font-family: Georgia;
    font-size: medium;
    line-height: 1.5;
}

.a-a{
color:darkslategray;
font-family:Georgia;
font-size:large;
}