body{

}

* {
box-sizing:border-box;}

.slides{
    display:none;
}

.artMain {
    
    position:relative;
    margin:auto;

     float:right;
    width:75%;
    border:3px solid;
    border-color:black;
}

.fade {
    -webkit-animation-name:fade;
    -webkit-animation-duration:1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

table{
   
  
}

header{
    width:100%;
    border:3px solid;
    border-color:black;
}

article{
    
    float:right;
    width:75%;
    border:3px solid;
    border-color:black;
}


nav {
    float:left;
    width:15%;
    border:3px solid;
    border-color:black;

}


section:after{
    clear:both;
}

h1 {
    color:aqua;
}

.list{
    width:50%;
    border:3px solid;
    border-color:yellow;
}

.searchForm {
    width:auto;
    float:right;
    border:3px solid;
    border-color:yellow;

}

.sectionPrincipal{
    margin:auto 0;
    width:100%;
    height:100%;
}

.upBar{
    text-align:center;
    
    width:50%;
    height:initial;
    border:3px solid;
    border-color:yellow;
    margin:auto 0;
}

.registerSection {
    width:100%;
    height:auto;
    align-content:flex-start;
    text-align:left;
    

}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}


.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
