:root {
    /*PALETA DE COLORES PRINCIPAL DE PARADISE*/
    --color1: rgb(3,95,108);
    /*Azul fuerte*/
    --color2: rgb(26,143,196);
    /*Turquesa oscuro*/
    --color3: rgb(124,233,254);
    /*Azul cielo*/
    --color4: rgb(151,251,197);
    /*Aquamarine claro*/
    --color5: rgb(81,237,198);
    /*Aquamarine intenso*/
    /*COLORES AUXILIARES DE LA PAGINA*/
    --pcolor1: rgb(144,218,219);
    /*azul-claro-gris*/
    --pcolor2: rgb(0,156,140);
    /*verde-oscuro-azul*/
    --pcolor3: rgb(78,209,197);
    /*turquesa-gris*/
    --pcolor4: rgb(0,135,209);
    /*azul-rey-claro*/
    --pcolor5: rgb(170,255,255);
    /*azul cielo más claro*/
    --pcolor6: rgb(0,183,235);
    /*azul cielo más intenso*/
}

* {
    padding: 0;
    margin: 0;
    
}

.NavOficial {
    height: 8%;
    padding: 2%;
    background-color: white;
    margin-left: 0%;
    margin-right: 0%;
}

.Nav2do {
    /*background-color: rgb(152,228,221);*/
    background-color: var(--pcolor1);
    height: 7%;
    padding-top: 0.5%;
    color: darkslategray;
}

.logoNav {
    float: left;
}

.barraBusqueda {
    font-family: Georgia;
    float: right;
    width: 40%;
    height: 10%;
    clear: both;
}

.shcAdmin {
    font-family: Georgia;
    float: right;
    width: 40%;
    height: 1%;
    clear: both;
}

#listMunicipio {
    width:100%;
    height: auto 80%;
    margin:auto 0;    
    float:inherit;
     clear: both;
    background-color: pink;
    
}

#listLugar{
    width:100%;
    height: auto 80%;
    margin:auto 0;
 
    float:inherit;
     clear: both;
    background-color: pink;
    
}

#listEspacios{
    width:100%;
    height: auto 80%;
    margin:auto 0;
 
    float:inherit;
     clear: both;
    background-color: pink;
    
}


#listTL{
    width:100%;
    height: auto 80%;
    margin:auto 0;
 
    float:inherit;
     clear: both;
    background-color: pink;
    
}

.busqueda {
    width: 70%;
    height: 550%;
}

.boton {
    width: 28%;
    height: 550%;
    background-color: var(--pcolor1);
}

nav a {
    text-decoration: none;
    color: black;
}

.pruebaMenu {
    width: 60%;
    float: right;
    font-family: Georgia;
    font-size: 97%;
}

.pMTxt {
    width: 16%;
    float: right;
    text-align: left;
}

.pMT {
    width: 12%;
    float: left;
}

.pMTx {
    width: 20%;
    float: left;
}

.pMT3 {
    width: 25%;
    float: left;
    text-align: right;
}

.pMT2 {
    width: 21%;
    float: left;
    text-align: right;
}

.pMTxt1 {
    width: 16%;
    float: right;
    text-align: right;
    margin-top: -1.5%;
    padding-right: 2.5%;
}

button {
    cursor: pointer;
}


main {
    width: 100%;
    height: 100%;
    clear: both;
    text-align: center;
    /*background-color:#F5F5F5;*/
    /*background-color: #FFFAFA;*/
}

hr {
    height: 4px;
    border-width: 0;
    background-color: white;
    width: 80%;
    text-align: center;
    display: inline-block;
}

.hotl {
    width: 1px;
    height: 50%;
    background-color: lightslategray;
}


.principal
{
    clear:both;
    width:100%;
    height:100%;
    text-align:center;
    align-content:center;
}

.lateral {
    font-family: Georgia;
    line-height:1.5;
    text-align:left;
    background-color: rgb(171,255,255);
    width:18%;
    height:100%;
    padding:3%;
    color:darkslategray;
    float:left;
}

li a {
    text-decoration:none;
    color:darkslategrey;
}

main nav button {
    border: none;
    background-color: var(--pcolor1);
    font-family: 'Times New Roman';
    cursor: pointer;
    line-height: 1.5;
    font-size:100%;
}

.sn {
    width: 70%;
    height: 100%;
    padding: 3%;
    float: right;
    /*background-color: aquamarine;*/
}

.slides {
    width: 100%;
    /*height: 5%;*/
    background-color:white;
    display:none;

}

.lugList {
    width: 100%;
    /*background-color: pink;*/
    /*height: 100%;*/
}

.registerSection {
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 8%;
    padding-right: 8%;
    font-family: Georgia;
    line-height: 3;
    text-align: left;
    background-color: hsl(0, 0%, 92%);
}

.in{
    float:right;
    padding-right:40%;
    background-color: var(--pcolor1);
    border:none;
    height:6%;
}

.select {
    background-color: var(--pcolor1);
    border:none;
    width:15%;
    height:5%;
    text-align:center;
}

.tablaBox {
    /*border-width:medium;*/
    /*border-color:black;*/
    /*background-color:aquamarine;*/
    /*border:solid;*/
    /*margin: 0 auto;*/
    padding-left: 2.5%;
    padding-right: 2.5%;
}

.hr{
    margin:1.5%;
    width:95%;
    /*padding:0.5%;*/
}

.botones{
    width:20%;
    height:5%;
    background-color: var(--pcolor5);
}

.fade {
    -webkit-animation-name:fade;
    -webkit-animation-duration:1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}


@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

.dlabel{
    float:right;
    width:50%;
    height:10%;
    background-color:var(--pcolor1);
    border:none;
}

    .dlabel[disabled] {
        background-color: hsl(0, 0%, 92%);
        border: none;
    }

main dialog[open] {
    margin-left: 15%;
    margin-right: 15%;
    width: 56%;
    height: 75%;
    text-align: left;
    /*background-color: rgb(255,240,220);*/
    background-color:white;
    padding-top: 3%;
    padding-left:7%;
    padding-right:7%;
    font-family:Georgia;
    font-size:medium;
    line-height: 1.5;
    color: black;
    border: none;
    border-radius: 2%;
/*    border-color: hsl(0, 0%, 92%);*/
    /*background-color: hsl(0, 0%, 92%);*/
    /*background-color: rgb(135,225,215);*/
}

.botond {
    width: 28%;
    height: 8%;
    background-color: var(--pcolor1);
}

.botonc {
    width: 28%;
    float:right;
    height: 8%;
    background-color: var(--pcolor1);
}


/*SEGUNDO DIALOGO*/

section dialog[open] {
    margin-left: 25%;
    margin-right: 25%;
    width: 40%;
    height: 60%;
    text-align: left;
    background-color: white;
    padding-top: 3%;
    padding-left: 5%;
    padding-right: 5%;
    font-family: Georgia;
    font-size: medium;
    line-height: 1.5;
    color: darkslategray;
    border: none;
    border-radius: 2%;

}

.cargar_img {
    background-color: rgb(246, 247, 255);
    width: 96%;
    height: 40%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-gap: 2%;
    padding:2%;
}


#imgList {
    background-color: rgb(246, 247, 255);
    width: 96%;
    height: 40% auto;
    clear:both;
  
    padding:2%;
}

.imgPreview {
    width:100%;
}

.imgDisplay {
    width:30%;
}

.child{
    /*background-color:aqua;*/
}

.upload{
    width:100%;
}


.listaDialogo{
    width:80%;
    height:60%;

    overflow-y: scroll;

}

.shcDialog {

     font-family: Georgia;
    float: right;
    width: 40%;
    height: 1%;
    clear: both;
}






/*#########################################################################################################*/

/*######################################################Grid De agentes########################################*/

.pat {
    width: 100%;
    height: 80%;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr;
    /* background-color: aqua;*/
    grid-gap: 6px;
    font-family: Georgia;
    font-size: medium;
    /*background-color: rgba(199, 199, 199,0.1);*/
}

.ch1 {
    display: block;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 2fr 1fr 1fr 4fr;
    /*background-color: aquamarine;*/
    font-family: Georgia;
    font-size: medium;
    border: 1px solid rgba(0,0,0,0.2);
    border-radius: 4px;
    text-align:center;
}

.centrar{
    text-align:center;
}

.ch2 {
    display: block;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 4fr;
    background-color: rgba(199, 199, 199,0.1);
    /*grid-gap: 20px;*/
    /*background-color: cornflowerblue;*/
    font-family: Georgia;
    font-size: medium;
    border: 1px solid rgba(0,0,0,0.2);
    border-radius: 4px;
}

.labelR {
    border: 1px solid rgba(0,0,0,0.2);
    border-radius: 4px;
    padding: 2.5%;
    /*border-bottom: 1px solid rgba(0,0,0,0.2);
    border-top: 1px solid rgba(0,0,0,0.2);
    border-right: 1px solid rgba(0,0,0,0.2);
    -moz-border-radius-bottomright: 4px;
    -moz-border-radius-topright: 4px;*/
}

.labelL {
    padding-top: 6%;
    padding-left:10%;
    /*text-align:left;*/
}

.labe2L {
    padding-top: 6%;
    padding-left:10%;
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: 4fr 1fr;
    /*text-align:left;*/
}


.ch1 > section {
    border: 1px solid rgba(0,0,0,0.2);
    background-color: rgba(199, 199, 199,0.1);
    border-radius: 4px;
    padding:2.5%;
}

.ch3 {
    background-color: rgba(199, 199, 199,0.1);
    /*border: solid rgba(0,0,0,0.1);*/
    border: 1px solid rgba(0,0,0,0.2);
    border-radius: 4px;
}

.ImgCH{
    height:100%;
    border-radius:4px;
}

.espacio {
    height: 5%;
    width: 100%;
}

.ImgCH{
    height:100%;
    max-width:90%;
    border-radius:4px;
}

.next, .prev {
    /*position: absolute;*/
    /*top: 0%;
    width: 3%;
    height: 100%;*/
    top: 0%;
    cursor: pointer;
    width: 5%;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 2%;
}

.prev {
    float: left;
}

.next {
    float: right;
}
