
dialog::backdrop {
}

#dialog_error[open] {
	width: 40%;
	height: auto;
	position: absolute;
	display: inline-block;
	text-align: center;
	padding: 1%;
	top: auto;
	left: 28%;
	right: 28%;
	color: darkslategray;
	border: 3px solid;
	border-color: black;
	/*background-color: hsl(0, 0%, 92%);*/
	font-family: Georgia;
	font-size: medium;
	line-height: 1.5;
}

#cerrar_error {
	background-color: #006C51;
	color: white;
	width: 50%;
	border:none;
	border-radius: 5px;
	font-family: Georgia;
	font-size: medium;
	line-height: 1.5;
}
